@import '~vuetify/src/styles/settings/_variables';
@import '~vuetify/src/styles/settings/_colors';

.v-tooltip__content {
    border: 1px solid rgba(#fff, 0.15);
}

.v-tooltip__content.menuable__content__active {
    opacity: 1 !important;
}

// =================================
// ## CONTAINER
// =================================

@media #{map-get($display-breakpoints, 'xs-only')} {
    .container:not(.container--fluid) {
        padding: 5px;

        .row {
            margin-left: -5px;
            margin-right: -5px;
        }
    }
}

// =================================
// ## TABLE
// =================================

.theme--dark.v-data-table > .v-data-table__wrapper > table > tbody > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
    background: rgba(#fff, 0.05);
}

// =================================
// ## 
// =================================

.section-title {
    margin-bottom: 0.7rem;
    padding-left: 0.7rem;
    border-left: 10px solid rgba(#fff, 1);
    // border-bottom: 4px solid rgba(#000, 0.15);
    text-shadow: 2px 2px 3px rgba(#fff, 0.2);
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.theme--dark {
    &.card-t1 {
        background: #151515;
        border: 3px solid rgba(255,255,255, 0.05);
    }
}

.sub-loading-container {
    position: relative;
    min-height: 200px;

    .vld-overlay .vld-background {
        // background: transparent !important;
        // opacity: 0.15 !important;
    }
}

// =================================
// ## 
// =================================

.v-top {
    vertical-align: top;
}

.v-middle {
    vertical-align: middle;
}

.img-fluid {
    max-width: 100%;
}

.clear {
    clear: both;
}

dl.d-info {
    dt, dd {
        border-top: 1px dashed #333;
        padding: 0.5rem 0.75rem !important;
    }

    dt:first-child, dt:first-child +dd {
        border-top: none;
    }

    dt {
        font-size: 0.75rem !important;
        font-weight: 500;
        letter-spacing: 0.1666666667em !important;
        line-height: 1.8rem;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif !important;
        text-align: right;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    dd {
        font-size: 1rem;
    }

    @media #{map-get($display-breakpoints, 'xs-only')} {
        dt {
            text-align: left;
            background: rgba(#000, 0.15);
        }
    }
}

// =================================
// ## 
// =================================

.profile-item {

}

.player-link {
    white-space: nowrap;
    text-decoration: none;
    margin-top: 0.10rem;
    margin-bottom: 0.10rem;

    >.v-avatar {
        margin: 0 !important;
    }

    .avatar-img {
        display: inline-block;
        // width: 38px;
        height: 39px;
        box-sizing: border-box;
        vertical-align: middle;
        border: 1px solid rgba(255,255,255,0.1);
    }

    .avatar-img {
    }

    .blank-avatar {
    }

    span {
        display: inline-block;
        margin-left: 0.5rem;
        font-weight: 500;
        font-size: 1.1em;
        letter-spacing: 0.3px;
    }
}

.profile-item.small .player-link {
    margin-top: 0;
    margin-bottom: 0;
    
    .v-avatar {
        height: 28px !important;
        min-width: 28px !important;
        width: 28px !important;
    }

    .avatar-img {
        height: 28px;
    }

    span {
        margin-left: 0.3rem;
        font-size: 0.9em;
        letter-spacing: 0;
    }
}

// =================================
// ## GAME MATCH
// =================================

.match-type span {
    font-weight: 500 !important;
    letter-spacing: 1px !important;
}

.match-decision {
    &-left {
        color: map-get($grey, 'darken-1');
    }
    &-win {
        color: map-get($green, 'base');
    }
    &-loss {
        color: map-get($red, 'darken-1');
    }
    &-tie {
        color: map-get($blue, 'lighten-3');
    }
    &-observer {
        color: map-get($blue, 'darken-2');
    }
}

// =================================
// ## INFO
// =================================

.info-p {
    h2.headline:not(:last-child) {
        margin-bottom: 1rem;
    }

    h3.headline:not(:last-child) {
        margin-bottom: 1rem;
    }
}
