@import '~vuetify/src/styles/settings/_variables';
@import '~vuetify/src/styles/settings/_colors';

.v-tooltip__content {
    border: 1px solid rgba(#fff, 0.15);
}

.v-tooltip__content.menuable__content__active {
    opacity: 1 !important;
}

// =================================
// ## CONTAINER
// =================================

.container:not(.container--fluid) {
    @media #{map-get($display-breakpoints, 'xs-only')} {
        padding: 5px;
    }
}

// =================================
// ## 
// =================================

.section-title {
    margin-bottom: 0.7rem;
    padding-left: 0.7rem;
    border-left: 10px solid rgba(#fff, 1);
    // border-bottom: 4px solid rgba(#000, 0.15);
    text-shadow: 2px 2px 3px rgba(#fff, 0.2);
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.theme--dark {
    &.card-t1 {
        background: #151515;
        border: 3px solid rgba(255,255,255, 0.05);
    }
}

// =================================
// ## 
// =================================

dl.d-info {
    dt, dd {
        border-top: 1px dashed #333;
    }

    dt {
        font-weight: 600;
        font-size: 0.9rem;
    }

    dd {
        font-size: 1rem;
    }
}
